@import './vars';
@import './hr';
@import './nav';

html, body {
   height: 100%;
}

/* sets global color palette
   #A6E275 light
   #7EC146
   #61AA25
   #2E6500 dark
*/

nav, button  {
  background-color:$dark-red !important;
}

.btn:hover {
  background-color:$light-red !important;
}

i {
 color:$light-red !important;
}