<nav></nav>

<div class="container">
    <div class="row box">
      <div class="col s12 center-align">
        <div class="row">
            <h5>Available Donations</h5>
            <div class="col s6 push-s3 hr"></div>
        </div>
        <div class="row">
          <div class="col center-align s6 m3 l2">
            <app-cause></app-cause>
          </div>
          <div class="col s6 m3 l2">
              <app-cause></app-cause>
            </div>
            <div class="col s6 m3 l2">
                <app-cause></app-cause>
              </div>
              <div class="col s6 m3 l2">
                  <app-cause></app-cause>
                </div>
                <div class="col s6 m3 l2">
                    <app-cause></app-cause>
                  </div>
                  <div class="col s6 m3 l2">
                      <app-cause></app-cause>
                    </div>
                    <div class="col s6 m3 l2">
                        <app-cause></app-cause>
                      </div>
        </div>
      </div>
    </div>
</div>
