
<div class="myNav">
  <div class="row">

    <button class="backbtn col s1" [routerLink]="['/user-profile']"> &laquo; </button>

    <div class="col s10 ">
      <h5 *ngIf="donorForm.valid" >
        Fill in the form to see if you can donate blood  
      </h5>
    </div>

    <div class="col s10 ">
        <h5 *ngIf="!donorForm.valid" >
          We're sorry but you can't donate blood at this time! 
        </h5>
    </div>

  </div>
</div>

<div class="container">
  <br>
  <form [formGroup]="donorForm" (ngSubmit)="onSubmit()" *ngIf="donorForm">
    <div formArrayName="questions">
      <p *ngFor="let question of questions; let i = index">
        <input type="checkbox" [formControlName]="i" [id]="i"/>
        <label [for]="i">{{question}}</label>          
      </p>
    </div>
    <br>  
    <button type="submit" [routerLink]="['/avaible-donations']" class="btn centered-btn" style="margin-bottom:20px;" [class.disabled]="!donorForm.valid" >Submit</button>

  </form>
</div>