.myNav {
    text-align: center;
    padding: 5px;
    height: 56px;

    background-image: url(../../assets/img/ep_naturalblack.png);
    color:white;
    display: block;

    border-top: 3px solid #ab2101;
    border-bottom: 3px solid #ab2101;
}

label {
    color: black;
}
